##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
/local.properties
.gradle/
/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/

##############################
## Android Studio and Intellij and Android in general
##############################
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
out/
/android/out/
com_crashlytics_export_strings.xml
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.classpath
.metadata
.metadata/
/android/bin/
/core/bin/
/desktop/bin/
/html/bin/
/ios/bin/
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
.externalToolBuilders/
*.launch

##############################
## NetBeans
##############################
nbproject/private/
/nbproject/private/
/android/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/html/nbproject/private/
/ios/nbproject/private/
build/
/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
nbbuild/
/nbbuild/
/android/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/html/nbbuild/
/ios/nbbuild/
dist/
/dist/
/android/dist/
/core/dist/
/desktop/dist/
/html/dist/
/ios/dist/
nbdist/
/nbdist/
/android/nbdist/
/core/nbdist/
/desktop/nbdist/
/html/nbdist/
/ios/nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS Specific
##############################
.DS_Store
Thumbs.db

##############################
## iOS
##############################
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM

##############################
## Robovm
##############################
/ios/robovm-build/

##############################
## BlueJ
##############################
*.ctxt

##############################
## Package Files
##############################
*.zip
*.tar.gz
*.rar

##############################
## Log File
##############################
*.log

##############################
## GWT
##############################
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/